body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: whitesmoke;
}
.login {
    position: relative;
    top: 200px;
    margin: 0 auto;
    padding: 30px 0px 25px;
    width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 2px solid lightgray;
}

.logo {
    margin: auto;
    text-align: center;
    width: 250px;
    height: 60px;
}

.logo img{
    width: 240px;
}

.login input, .login button {
    box-sizing: border-box;
    margin-top: 20px;
    width: 250px;
    height: 30px;
    text-align: center;
    font-size:20px;
    border: 2px outset #d5d1ca;
    border-radius: 3px;
}

.login input:focus, .login button:focus{
    border: 2px inset #d5d1ca;
}


.menu {
    position: fixed;
    top: 10%;
    right: 0px;
    width: 250px;
    height: 90%;
    background-color: white;
    border-left: 2px outset gray;
    border-top: 2px outset gray; 
}

.auth {
    position: fixed;
    top: 0;
    right: 0px;
    width: 250px;
    height: 10%;
    font-size: 18px;
    background-color: white;
    border-left: 2px outset gray;
}

.auth p {
}

.menu ul {
    padding: 0px 20px;
    list-style: none;                                                                                            

}

.menu li {
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
}

.menu li a {
    display: block;
    text-decoration: none;
    border: 2px outset gray;
    color: black;
    background-color: lightgray;
}

.menu li a:hover {
    border: 2px inset gray;
}


#errors {
    margin: auto;
    bottom:0px;
    width: 250px;
    height: auto;
}


